/* styles/page.module.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  color: #333;
}

.incomeTotal {
  color: #00b42a; /* สีเขียวสำหรับรายรับ */
}

.expenseTotal {
  color: #ac0606; /* สีแดงสำหรับรายจ่าย */
}

.header {
  margin-top: 20px;
  color: #007bff; /* สีฟ้าสำหรับหัวข้อ */
}

.transactionItem {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
